@model Setting
@{
    Layout = null;
}

<header>
    <div class="container">
        <nav>
            <div class="menu-icons">

                <i class="fas fa-bars"></i>
                <i class="fas fa-window-close"></i>
            </div>
            <a href="#" class="logo">
                <i class="fas @Model.Eogo"></i>
            </a>
            <ul class="nav-list">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Menu</a>
                    <ul class="menu-table">
                        <li><a href="#">Dinner</a></li>
                        <li><a href="#">Hot Meals</a></li>
                        <li><a href="#">Cold Meals</a></li>
                        <li><a href="#">Drinks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Reservation</a>
                </li>
                <li>
                    <a href="#">Services</a>
                    <ul class="menu-table">
                        <li><a href="#">Order</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
